
<div *ngIf="showexam">
  <div class="container">
    <div class="jumbotron">
      <form  #ExamForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
     
        
        
        <div class="form-group">
          <label>Add questions</label>
          <select class="form-control" [(ngModel)]="typeofupload" [ngModelOptions]="{standalone: true}"  name="Category" >
               <option [disabled]="true" [value]="0">Select your options</option>
               <option *ngFor="let p of  qupload" [value]="p">{{p}}</option>
          </select>
          <div [hidden]="typeofupload != '0'|| (typeofupload == '0' && subm)" 
             class="alert alert-danger">
           Select any one of the option
         </div>
        </div> 
        <div class="form-group">
          <button type="submit" class="button button-flat" [disabled]="!ExamForm.form.valid"  >Next</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showfileupload">
  <div class="container">
    <div class="jumbotron">
     
      <hr>
      <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" style="display: none;" (change)="onChange($event)" >
                    </span>
                </label>
                <input type="text" [(ngModel)]="filename" class="form-control" readonly>
            </div>

    </div>
 
    </div>
  </div>


<div *ngIf="showmanuvaltype">
  <div class="container">
    <div class="jumbotron">
     <h4>Add Your  Question</h4>
      <hr>
      
      <div *ngIf="showQusblock" class="question_block">
        <a (click)="showmc()" class="button button-flat " >Multiple Choice</a>
         <a class="button button-flat " (click)="showtrueorfalse()" >True or False</a>
            
      </div>
      
      <div *ngIf="showtypemc" >
          <div class="row">
          <div class="col-md-3">
             <div class="form-group">
          <select id="cate" class="form-control" [(ngModel)]="squestons.category" [ngModelOptions]="{standalone: true}" (ngModelChange)="show_category()" name="Category">
               <option [disabled]="true" [value]="0">Select Category</option>
               <option *ngFor="let p of Categories" [value]="p">{{p}}</option>
               <option class="add" value="add" >-----ADD-----</option>
          </select>
        </div> 
          </div>
          <div class="col-md-3">
             <div class="form-group">
          <select class="form-control" [(ngModel)]="squestons.sub_category" [ngModelOptions]="{standalone: true}" (ngModelChange)="show_sub_category()"  name="subCategory">
               <option [disabled]="true" [value]="0">Select Sub Category</option>
               <option *ngFor="let p of  Sub_Categories" [value]="p">{{p}}</option>
               <option class="add" value="add" >-----ADD-----</option>
          </select>
        </div> 
            
          </div>
          <div class="col-md-3">
             <div class="form-group">
          <select class="form-control" [(ngModel)]="squestons.dificulty_level" [ngModelOptions]="{standalone: true}"  name="Category">
               <option [disabled]="true" [value]="0">Dificulty Level</option>
               <option *ngFor="let p of  dificulty" [value]="p">{{p}}</option>
          </select>
        </div> 
             
          </div>
          <div class="col-md-3">
           
          </div>
        </div>

            <div class="row">
          <div *ngIf=" add_cate" class="col-md-3">
            <div class="row">
             <div class="col-md-10 col-xs-10">
               <div class="form-group">
                 <div class="input-group">
                   
                 <input type="text"  [(ngModel)]="Acategory" class="form-control" placeholder="add category">
                  <span class="input-group-addon wrg" (click)="add_category()">Add</span>

                 </div>
               </div>

             </div>
              <div class="col-md-2 col-xs-2">
             </div>

           </div>
           
          </div>
           <div *ngIf=" add_sub_cate" class="col-md-3">
            <div class="row">
             <div class="col-md-10 col-xs-10">
               <div class="form-group">
                 <div class="input-group">
                   
                 <input type="text"  [(ngModel)]="A_sub_category" class="form-control" placeholder="add sub category">
                  <span class="input-group-addon wrg" (click)="add_sub_category()">Add</span>

                 </div>
               </div>

             </div>
              <div class="col-md-2 col-xs-2">
             </div>

           </div>
           
          </div>
          <div class="col-md-3">
            
             
          </div>
          <div class="col-md-3">
           
          </div>
        </div>
        
        <div class="form-group" >
          <label for="question">Question</label>
          <textarea  class="form-control" [ngClass]="{validstate:!Q_flag,invalidstate: Q_flag}" rows="3"  [(ngModel)]="squestons.question" (ngModelChange)=" validate_fn()" id="question" required
          ></textarea>
          <p *ngIf="Q_flag"  class="validationfn">* Required</p>
        </div>
         <div class="row"> 
         <div class="col-md-2" >
           <div class="row">
             <div class="col-md-6 col-xs-6">
                 <div class="form-group" >
             <div class="switch">
               <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" [(ngModel)]="hasimg" value="yes">
               <label for="cmn-toggle-1"></label>
            </div>
         </div>
             </div>
             <div class="col-md-6 col-xs-6" style="padding-left:0px" >
               <p style="font-size: 14px;"> image({{hasimg?"Yes":"No"}})</p >
             </div>
           </div>
         
           
         </div>
         
         <div  class="col-md-10">
            <div *ngIf="hasimg" class="form-group">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary btnp">
                       Image URL
                    </span>
                </label>
                <input type="text" [(ngModel)]="squestons.imgurl"   class="form-control" (ngModelChange)=" validate_fn()" [ngClass]="{validstate:!Img_flag,invalidstate: Img_flag}" placeholder="Image URL" >

            </div>
             <p *ngIf="Img_flag"  class="validationfn">Invalid</p>
          </div>
         </div>
         </div>

           <div class="row"> 
         <div class="col-md-2" >
           <div class="row">
             <div class="col-md-6 col-xs-6">
                 <div class="form-group" >
             <div class="switch">
               <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round" type="checkbox" [(ngModel)]="hasvideo" value="no">
               <label for="cmn-toggle-4"></label>
            </div>
         </div>
             </div>
             <div class="col-md-6 col-xs-6" style="padding-left:0px" >
               <p style="font-size: 14px;"> video({{hasvideo?"Yes":"No"}})</p >
             </div>
           </div>
         
           
         </div>
         
         <div  class="col-md-10">
            <div *ngIf="hasvideo" class="form-group">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary btnp">
                       Video URL
                    </span>
                </label>
                <input type="text" [(ngModel)]="squestons.videourl" class="form-control" placeholder="Video URL" >

            </div>
          </div>
         </div>
         </div>
        
        
        <div class="form-group">
          
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
            <input type="text" class="form-control" [(ngModel)]="squestons.correctAns"  required placeholder="Correct Answer">
            <span class="input-group-addon whitebg"><i class="glyphicon glyphicon-ok" style="color:#5295b7"></i></span>
          </div>
        </div>

          
           <div  class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color:red"></i></span>
            <input type="text" class="form-control" [(ngModel)]="squestons.wrongAns1" placeholder="Wrong Answer 1 "  required>
            <span class="input-group-addon whitebg "  ><i class="glyphicon glyphicon-remove" style="color:#5295b7"></i></span>
          </div>
         
        </div>
        
           <div  class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color:red"></i></span>
            <input type="text" class="form-control" [(ngModel)]="squestons.wrongAns2" placeholder="Wrong Answer 2 "  required>
            <span class="input-group-addon whitebg "  ><i class="glyphicon glyphicon-remove" style="color:#5295b7"></i></span>
          </div>
         
        </div>
        
           <div  class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color:red"></i></span>
            <input type="text" class="form-control" [(ngModel)]="squestons.wrongAns3" placeholder="Wrong Answer 3 "  required>
            <span class="input-group-addon whitebg "  ><i class="glyphicon glyphicon-remove" style="color:#5295b7"></i></span>
          </div>
         
        </div>
       

       
        <div class="row">
          <div class="col-md-3 col-md-offset-3"></div>
         <div class="col-md-3 col-md-offset-3">
             <a class="button button-flat " (click)="save()" >Save and continue</a>
         </div>
        </div>
        
 
       </div>
            <div *ngIf="showtypetf" >
               <div class="row">
          <div class="col-md-3">
             <div class="form-group">
          <select id="cate" class="form-control" [(ngModel)]="squestons.category" [ngModelOptions]="{standalone: true}" (ngModelChange)="show_category()" name="Category">
               <option [disabled]="true" [value]="0">Select Category</option>
               <option *ngFor="let p of Categories" [value]="p">{{p}}</option>
               <option class="add" value="add" >-----ADD-----</option>
          </select>
        </div> 
          </div>
          <div class="col-md-3">
             <div class="form-group">
          <select class="form-control" [(ngModel)]="squestons.sub_category" [ngModelOptions]="{standalone: true}" (ngModelChange)="show_sub_category()"  name="subCategory">
               <option [disabled]="true" [value]="0">Select Sub Category</option>
               <option *ngFor="let p of  Sub_Categories" [value]="p">{{p}}</option>
               <option class="add" value="add" >-----ADD-----</option>
          </select>
        </div> 
            
          </div>
          <div class="col-md-3">
             <div class="form-group">
          <select class="form-control" [(ngModel)]="squestons.dificulty_level" [ngModelOptions]="{standalone: true}"  name="Category">
               <option [disabled]="true" [value]="0">Dificulty Level</option>
               <option *ngFor="let p of  dificulty" [value]="p">{{p}}</option>
          </select>
        </div> 
             
          </div>
          <div class="col-md-3">
           
          </div>
        </div>

            <div class="row">
          <div *ngIf=" add_cate" class="col-md-3">
            <div class="row">
             <div class="col-md-10 col-xs-10">
               <div class="form-group">
                 <div class="input-group">
                   
                 <input type="text"  [(ngModel)]="Acategory" class="form-control" placeholder="add category">
                  <span class="input-group-addon wrg" (click)="add_category()">Add</span>

                 </div>
               </div>

             </div>
              <div class="col-md-2 col-xs-2">
             </div>

           </div>
           
          </div>
           <div *ngIf=" add_sub_cate" class="col-md-3">
            <div class="row">
             <div class="col-md-10 col-xs-10">
               <div class="form-group">
                 <div class="input-group">
                   
                 <input type="text"  [(ngModel)]="A_sub_category" class="form-control" placeholder="add sub category">
                  <span class="input-group-addon wrg" (click)="add_sub_category()">Add</span>

                 </div>
               </div>

             </div>
              <div class="col-md-2 col-xs-2">
             </div>

           </div>
           
          </div>
          <div class="col-md-3">
            
             
          </div>
          <div class="col-md-3">
           
          </div>
        </div>
        
        <div class="form-group">
          <label for="question">Question</label>
          <textarea  class="form-control" rows="3"  [(ngModel)]="squestons.question"  id="question" required></textarea>
        </div>
         <div class="row"> 
         <div class="col-md-2" >
           <div class="row">
             <div class="col-md-6 col-xs-6">
                 <div class="form-group" >
             <div class="switch">
               <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" [(ngModel)]="hasimg" value="yes">
               <label for="cmn-toggle-1"></label>
            </div>
         </div>
             </div>
             <div class="col-md-6 col-xs-6" style="padding-left:0px" >
               <p style="font-size: 14px;"> image({{hasimg?"Yes":"No"}})</p >
             </div>
           </div>
         
           
         </div>
         
         <div  class="col-md-10">
            <div *ngIf="hasimg" class="form-group">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary btnp">
                       Image URL
                    </span>
                </label>
                <input type="text" [(ngModel)]="squestons.imgurl"  class="form-control" placeholder="Image URL" >

            </div>
          </div>
         </div>
         </div>

           <div class="row"> 
         <div class="col-md-2" >
           <div class="row">
             <div class="col-md-6 col-xs-6">
                 <div class="form-group" >
             <div class="switch">
               <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round" type="checkbox" [(ngModel)]="hasvideo" value="no">
               <label for="cmn-toggle-4"></label>
            </div>
         </div>
             </div>
             <div class="col-md-6 col-xs-6" style="padding-left:0px" >
               <p style="font-size: 14px;"> video({{hasvideo?"Yes":"No"}})</p >
             </div>
           </div>
         
           
         </div>
         
         <div  class="col-md-10">
            <div *ngIf="hasvideo" class="form-group">
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-primary btnp">
                       Video URL
                    </span>
                </label>
                <input type="text" [(ngModel)]="squestons.videourl" class="form-control" placeholder="Video URL" >

            </div>
          </div>
         </div>
         </div>
        
        
        <div class="form-group">
          
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-ok"></i></span>
            <input type="text" class="form-control" [(ngModel)]="squestons.correctAns"  required placeholder="Correct Answer">
            <span class="input-group-addon whitebg"><i class="glyphicon glyphicon-ok" style="color:#5295b7"></i></span>
          </div>
        </div>

           <div  class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color:red"></i></span>
            <input type="text" class="form-control" [(ngModel)]="squestons.wrongAns1" placeholder="Wrong Answer "  required>
            <span class="input-group-addon whitebg "  ><i class="glyphicon glyphicon-remove" style="color:#5295b7"></i></span>
          </div>
         
        </div>

       

       
        <div class="row">
          <div class="col-md-3 col-md-offset-3"></div>
         <div class="col-md-3 col-md-offset-3">
             <a class="button button-flat " (click)="save()" >Save and continue</a>
         </div>
        </div>
        
 
       </div>
    </div>
  </div>
</div>


