.alignform
{
    padding-right: 20px;
    padding-left: 20px;
}



.jumbotron {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#5295b7;
}

.btn-success {
    color: #fff;
    background-color: #3e0808;
    border-color: #3e0808;
    font-size: 18px;
}



.alert {
    padding: 1px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

h3{
    margin-top: 1px;
    margin-bottom: 1px;
    font-family: fantasy;
    font-weight: 500;
    line-height: 1.1;
    color:white;
}

hr{
    margin-top: 5px;
}

.question_block{
   display: inline-block;
    margin: 0 0px 12px;
}
button-flat {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 6px 16px;
}
.button-flat:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    right: auto;
    top: auto;
}

.button {
    -webkit-font-smoothing: antialiased;
    background: #b32e40;
    border: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 0 #802918;
    -moz-box-shadow: 3px 3px 0 #802918;
    box-shadow: 3px 3px 0 #802918;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #f9f0c7;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1428571428571428em;
    font-weight: 400;
    line-height: 20px;
    padding: 6px 22px;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button:hover {
    background: #1b5e4b;
    -webkit-box-shadow: 2px 2px 0 #154739;
    -moz-box-shadow: 2px 2px 0 #154739;
    box-shadow: 2px 2px 0 #154739;
    color: #f9f0c7;
    text-decoration: none;
    right: -1px;
    top: 1px;
}



a {
    color: #b32e40;
    text-decoration: none;
}

a:hover, a:active {
    outline: 0;
}

@media (max-width: 768px){
.question_block .button {
    clear: both;
    display: block;
    float: none;
    margin: 14px 0 0;
}
}
 

 .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #24d622;
    text-align: center;
    background-color: #0e0e0d;
    border: 1px solid #0e0e0d;
    border-radius: 4px;
}

.addbtn{
       cursor: pointer;
       color: #b32e40;
}

.whitebg{
    background-color:#5295b7;
    border-color:#5295b7;
}

.wrg{
     cursor: pointer;
}

 .btnp{
     background-color: #0b375d;
    border-color: #0b375d;;
 }
